<div class="container">
    <h1>Survey List</h1>

    <div class="row">
        <div class="col">

            <a href="/home" id="addButton" class="btn btn-primary mb-1"><i class="fa-solid fa-circle-plus"></i> Add Survey</a>
    
            <table class="table table-striped table-bordered table-hover">
                <thead class="table-dark">
                    <tr>
                        <th scope="col" class="text-center">#</th>
                        <th scope="col">Survey Name</th>
                        <th scope="col">Owner</th>
                        <th scope="col">Type</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="surveyList">
                    <!-- Repeatable Rows -->
                    <% for(let count = 0; count < surveys.length; count++) { %>
                        <!-- Create a new Table Row-->
                        <tr>
                            <th scope="row" class="text-center"><%= count + 1 %></th>
                            <td><%= surveys[count].SurveyName %></td>
                            <td><%= surveys[count].OwnerID %></td>
                            <td><%= surveys[count].Questions.QuestionType %></td>
                            <td class="text-center"><a href="/editMC/<%= surveys[count]._id %>" class="btn btn-primary btn-sm edit" id="edd"><i class="fa-solid fa-pen-to-square"></i> Edit</a></td>
                            <td class="text-center"><a href="/delete/<%= surveys[count]._id %>" class="btn btn-danger btn-sm delete"><i class="fa-solid fa-trash-can"></i> Delete</a></td> 
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>
</div>

<% if(surveys[count].Questions.QuestionType == "Multiple") { %>
    <td class="text-center"><a href="/editMC/<%= surveys[count]._id %>" class="btn btn-primary btn-sm edit" id="edd"><i class="fa-solid fa-pen-to-square"></i> Edit</a></td>
    <% } else {%>
    <button id="addButton" type="submit" class="btn btn-primary"><i class="fas fa-plus-circle fa-lg"></i> Add</button>
    <% } %>  